<a href="https://colab.research.google.com/github/seongkai102/programmers_history/blob/main/%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%A8%B8%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#pcce 기출문제 6번(가채점)
def solution(numbers, our_score, score_list):
    answer = []
    for i in range(len(numbers)):
        if our_score[i] == score_list[numbers[i]-1]: #our_score는 그대로 0~n까지 놔두고 score_list안에 있는 번호만 뽑아야함 그래서 numbers를 차례대로 슬라이싱 -1을 안해주면 다음거 부터 슬라이싱 됨 이후 계산
            answer.append("Same")
        else:
            answer.append("Different")

    return answer


solution([3,4], [85, 93],[85, 92, 38, 93, 48, 85, 92, 56])

['Different', 'Same']

In [ ]:
#pcce 기출문제 7번
def func1(humidity, val_set):
    if humidity < val_set:
        return 3
    return 1

def func2(humidity):
    if humidity >= 50:
        return 0
    elif humidity >= 40:
        return 1
    elif humidity >= 30:
        return 2
    elif humidity >= 20:
        return 3
    elif humidity >= 10:
        return 4
    else:
        return 5


def func3(humidity, val_set):
    if humidity < val_set:
        return 1
    return 0


def solution(mode_type, humidity, val_set):
    answer = 0
    if mode_type == "auto":
        answer = func2(humidity)
    elif mode_type == "target":
        answer = func1(humidity, val_set)

    elif mode_type == "minimum":
        answer = func3(humidity, val_set)
    return answer

In [ ]:
#pcce 기출문제 8번
def solution(storage, num):
    clean_storage = []
    clean_num = []
    for i in range(len(storage)):
        if storage[i] in clean_storage:
            pos = clean_storage.index(storage[i])
            clean_num[pos] += num[i]
        else:
            clean_storage.append(storage[i]) #위에 조건문이 작동하려면 이게 먼저 추가 되야함 (수)
            clean_num.append(num[i])

    # 아래 코드에는 틀린 부분이 없습니다.

    max_num = max(clean_num)
    answer = clean_storage[clean_num.index(max_num)]
    return answer

In [ ]:
#문자열 반복해 출력하기
str, n = input().strip().split(' ')
n = int(n)
print(str * n)

str 5
strstrstrstrstr

In [ ]:
#대소문자 바꿔서 출력
str = input().swapcase()
print(str)

aBcD
AbCd

In [ ]:
#특수문자 출력
print('!@#$%^&*(\\'"<>?:;')

!@#$%^&*('"<>?:;

In [ ]:
#문자열 붙히기
str1, str2 = input().strip().split(' ')
print(str1 + str2)

str str
strstr

In [ ]:
#홀짝 구분
a = int(input())
if a % 2 == 0:
    print(f'{a} is even')
else:
    print(f'{a} is odd')

100
100 is even

In [ ]:
#문자열 겹쳐쓰기
def solution(my_string, overwrite_string, s):
    new_string = my_string[:s] + overwrite_string + my_string[s+len(overwrite_string):] #시작+중간+끝
    return new_string

# 예시 실행
print(solution("He11oWor1d", "lloWorl", 2))

HelloWorld

In [ ]:
#문자열 섞기

def solution(str1, str2):
    answer = str()
    for i in range(len(str1)):
      answer = answer + str1[i] + str2[i]
    return answer

print(solution('aaaa','bbbb'))

IndentationError: expected an indented block after 'for' statement on line 13 (<ipython-input-2-5cd0ddd011bf>, line 14)

In [ ]:
#문자 리스트를 문자열로 변환

def solution(arr): return ''.join(a)

a = ["a","b","c"]

print(solution(a))

abc

In [ ]:
# 더크게 합치기
def solution(a, b):
  ll = [int(str(a)+str(b)), int(str(b)+str(a))]
  return max(ll)

print(solution(89,8))

898

In [ ]:
def s(a,b):
    concat_value = int(f'{a}{b}')

    product_value = 2 * a * b

    return max(concat_value, product_value)
print(s(2,91))

364

In [ ]:
#n의 배수
def solution(num, n):
    answer = 1 if num % n == 0 else 0
    return answer

print(solution(34, 3))

# num%n은 int 값이지만, 이를 not() 함수 안에 넣으면 int가 bool로 해석되어서 num%n이 0이면 False로, 0이 아니면 True로 해석됩니다

0

In [ ]:
def solution(n):
    if n % 2 == 0:
        a = [i**2 for i in range(1,n+1) if i % 2 == 0]
        return sum(a)
    else:
        a = [i for i in range(1, n+1) if i % 2 != 0]
        return sum(a)

n = int(input())
print(solution(n))

In [ ]:
def solution(ineq, eq, n, m):
    return int(eval(f'{n} {ineq}{eq} {m}'.replace('!','')))
    #문자열로 된 표현식을 실행하고 그 결과를 반환

In [ ]:
def solution(ineq, eq, n, m):
    if ineq == '<' and eq == '=':
      return int(n <= m)
    if ineq == '>' and eq == '=':
      return int(n >= m)
    if ineq == '<' and eq == '!':
      return int(n < m)
    else:
      return int(n > m)

solution('<','=',20,50)

In [ ]:
def solution(a, b, flag):
    answer = 0

    if (flag == True):
        answer = a + b
    else :
        answer = a - b
    return answer

3
-11

In [ ]:
def solution(code):
  mode = 0
  ret = ""
  for i in range(len(code)):

    if code[i] == '1':
      mode = 1-mode
    else:
      if mode == 0 and i % 2 == 0:
        ret = ret + code[i]
      elif mode == 1 and i % 2 != 0:
        ret = ret + code[i]

  if ret == "":
      return  "EMPTY"

  return ret

solution("abc1abc1abc")

##### 숏 코딩


def solution(code):
    return "".join(code.split("1"))[::2] or "EMPTY"

'acbac'

In [6]:
def solution(s):
    s = s.lower()
    p,y = 0,0
    for i in s:
        if i=='p':
            p+=1
        elif i=='y':
            y+=1


    return 'true' if (p==0 and y==0) or p==y else 'false'

solution('asdasdsadsadsa')

'true'

In [4]:
#등차수열의 특정한 항만 더하기
def solution(a, d, included):
    ss = [a+(i*d) for i in range(len(included))]
    bb = [ss[i] for i in range(len(ss)) if included[i] == 'true']
    return sum(bb)

solution(7,1,	['false', 'false', 'false', 'true', 'false', 'false', 'false'])

10

In [ ]:
def solution(a, b, c):
    return (a + b + c) * (a**2 + b**2 + c**2) * (a**3 + b**3 + c**3) if a == b == c else (a + b + c) * (a**2 + b**2 + c**2) if a == b or b == c or a == c else a + b + c

In [10]:
def solution(num_list):
    a = 1; [a:=a*i for i in num_list]
    return int(a<(sum(num_list)**2))

In [13]:
def solution(c):
    a,b = '',''; [a:= a+str(i) for i in c if i%2!=0]; [b:= b+str(i) for i in c if i%2==0]
    return int(f'{int(a)+int(b)}')

solution([3, 4, 5, 2, 1])

'393'

In [17]:
def solution(a):
    b = a[-1]-a[-2] < a[-1] and a[-1] >a[-2]
    c = a+[a[-1]-a[-2]] if b else a+[a[-1]*2]
    return c

solution([2, 1, 6])

[2, 1, 6, 5]

In [22]:
def solution(n, control):
    n = [n:=(n+(int(i=='w')*1)+(int(i=='s')*(-1))+(int(i=='d')*10)+(int(i=='a')*(-10))) for i in control]
    return n[-1]

solution(0, "wsdawsdassw")

-1

In [ ]:
def solution(numLog):
    return ''.join(['w' if numLog[i] - numLog[i-1] == 1 else
                    's' if numLog[i] - numLog[i-1] == -1 else
                    'd' if numLog[i] - numLog[i-1] == 10 else
                    'a' for i in range(1, len(numLog))])

In [26]:
def solution(arr, b):
    for i,j in b:
      arr[i],arr[j] = arr[j],arr[i]
    return arr


solution([0, 1, 2, 3, 4], [[0, 3],[1, 2],[1, 4]])

[3, 4, 1, 0, 2]

In [1]:
def solution(arr, queries):
    result = []

    for s, e, k in queries:
        candidates = [x for x in arr[s:e+1] if x > k]

        if candidates:
            result.append(min(candidates))
        else:
            result.append(-1)

    return result


solution([0, 1, 2, 4, 3], [[0, 4, 2],[0, 3, 2],[0, 2, 2]])

[3, 4, -1]

In [34]:
def solution(arr, queries):
    a = arr.copy()
    for s, e, k in queries:
        for i in range(s, e + 1):
            if i % k == 0:
                a[i] += 1
    return a

solution([0, 1, 2, 4, 3], [[0, 4, 1],[0, 3, 2],[0, 3, 3]])

[3, 2, 4, 6, 4]

In [48]:
def solution(l, r):
    answer = [i for i in range(l, r + 1) if set(str(i)) <= {"0", "5"}]
    return answer if answer else [-1]


solution(5, 555)

[5, 50, 55, 500, 505, 550, 555]

In [51]:
set(str(55)) <= {"0", "5"} #set은 문자열도 중복이면 없애줌 <= 로 인해 {0,5}의 부분집합인지 알수 있음

if list(): #비어있으면 False를 반환함 아님 True

True

In [3]:
def solution(start_num, end_num):
    return [i for i in range(start_num,end_num+1)]

solution(3, 10)

[3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
def solution(n):
    a = [n]

    while  a[-1] != 1:
        if n % 2 == 0 :
            n = n//2
            a.append(n)
        else:
            n = 3*n+1
            a.append(n)

    return a

solution(10)

[10, 5, 16, 8, 4, 2, 1]